/**
*
* Main Stylesheet For Visual Style Guide
*
**/

@import '_utils';
@import '_normalize';
@import '_global';

// Icons - Leave it here to otherfiles can extend if needed
@import '_components/_icons';

// Color Palette
@import '_palette';

// Components
@import '_components/_grid';
@import '_components/_typography';
@import '_components/_button';
@import '_components/_list';
@import '_components/_link';
@import '_components/_table';
@import '_components/_media';
@import '_components/_icon-circle';

// Themed styles
@import '_themed';

// Make sure this is last to override anything else :)
@import '_helper';
